<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    [v-cloak]{ /* ちらつき防止 */
      display: none; 
    }
    /* リストの点を消す */
    ul{
      list-style: none;
    }
     /* テキストに横線 */
    .done{
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <!--テキストタイプ、newItemデータで制御-->
    <input type="text" v-model="newItem">
    <!--ボタンをクリックしたら追加、addItem関数で制御-->
    <button @click="addItem">追加</button>
    <!--queryデータで制御-->
    <input v-model="query">検索
  
    <ul>  
      <li input type="checkbox" 
        v-for="(todo,index) in filteredList" 
        :key="todo.item"><!--todoで配列、filteredListを使う-->
        <input type="checkbox"　v-model=""><!--チェックボックスなので、オンオフ制御-->
        <span :class="">{{ todo.item }}</span><!--classも条件指定-->
        <button @click="deleteItem(index)">削除</button><!--deleteItemで削除-->
      </li>
    </ul>

  </div><!-- 仮想DOM -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  
  <script>
    let app = new Vue({
      el:'#app',
      data(){//v-modelの変数を設定をする
        return {//つまり、v-modelはformの初期値を無視するので、js側データの初期値設定をする、todosも
          newItem:"",
          //
          //
        }
      },
      methods:{
        addItem(){//const todoオブジェクトを定義して、pushに入れる。pushした後も空の処理
          
          this.todos.push(todo);

        },
        deleteItem(index){
          //spliceに引数のindexも使う
        }
      },
      computed:{//条件としてstr.indexOf( 検索したい文字, 検索開始位置(任意)),filterを使う
        filteredList(){
          let that = this//filter関数はコールバック関数でthisの挙動が変わる
        // computedの中はreturnが必要になる。
        })
        }
      }
    })
  </script>
  
</body>

</html>